body {
	font-family: "Roboto";
}

div {
	margin: 0px;
	padding: 0px:
}

.container {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.hero {
	display:flex;
	background: #1F2937;
}

.hero h1 {
	color: #F9FAF8;
	font-size: 48px;
}

.hero h2 {
	color: #F9FAF8;
	font-size: 24px;
}

.hero p, .hero li {
	font-size: 18px;
	color: #E5E7EB;
}

.left {
	width: 2000px;
	flex-shrink: 1;
}

ul {
	display: flex;
	list-style: none;
}

li {
	padding: 5px;
}

.right {
	width:2000px;
	flex-shrink: 1;
}

button {
	background: #3882F6;
}

