body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

ul {
	display: flex;
	list-style-type: none;
	gap: 10px;
}

.hero, 
.footer {
	background-color: #1F2937;
}

.hero {
	display: flex;
	justify-content: center;
}

.hero-left {
	width: 450px;
}

.hero-right {
	width: 450px;
	display: flex;
	justify-content: flex-end;
}

.hero h1 {
	padding: 0;
	margin: 0;
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
}

.hero h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: #F9FAF8;
}

.hero p,
.hero a {
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.info {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.info h1 {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

.info img {
	border: 2px solid #3882F6;
	border-radius: 10px;
}

.quote {
	background-color: #E5E7EB;
}

button {
	color: #FFFFFF;
	background-color: #3882F6;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 2px 15px;
	font-weight: 550;
}

.content {
	display: flex;
	gap: 20px;
}

.card {
	text-align: center;
	width: 150px;
	flex-grow: 0;
}
